<div class="menu_gauche">
    <img src="/images/vips.png" alt="Vips" />
    <ul>
        <li class="traitHorizontal"><a href="/AjouterVip">Ajouter</a></li>
        <li class="traitHorizontal"><a href="/ModifierVip">Modifier</a></li>
        <li class="traitHorizontal"><a href="/SupprimerVip">Supprimer</a></li>
    </ul>
</div>

<div class="formulaire">
    <h1>Modifier un VIP</h1>
    <form action="vip" method="post">

        <input type="submit" value="Envoyer">
        <input type="reset" value="Annuler">
    </form>
</div>
